<div class="login-admin">
    <div class="content">
      <div class="login-glass">
        <div class="rectangle-27"></div>
        <div class="rectangle-26"></div>
        <div class="login">
          <div class="login-admin2">Login - Admin</div>
          <div class="group-208">
            <img class="icons" src="icons0.svg" />
            <div class="line-2"></div>
            <div class="e-mail">
              <div class="e-mail2">E-mail</div>
            </div>
          </div>
          <div class="group-209">
            <img class="icons2" src="icons1.svg" />
            <div class="line-3"></div>
            <div class="password">
              <div class="password2">Password</div>
            </div>
          </div>
          <div class="button">
            <div class="text">Login</div>
          </div>
          <div class="group-210">
            <div class="create-an-account">Create an account</div>
            <div class="forgot-password">Forgot password?</div>
          </div>
        </div>
      </div>
      <img class="finacello-jpg" src="finacello-jpg0.png" />
    </div>
  </div>
  